@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

/* 세로 스크롤바 안보이게 하고싶을 시 추가 */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
  background: transparent;
} */

/* Swiper - pagination 기본 색깔이 파란색이고 못생겨서 바꿔줘야됨 */
.swiper .swiper-pagination {
  position: absolute;
  /* bottom: -15px !important; */
}
.swiper .swiper-pagination-bullet {
  background-color: #ffffff;
  margin: 0 10px !important;
  top: 300px !important;
}
